In [1]:
import pandas as pd

In [2]:
df_cursos = pd.DataFrame({'Sigla': pd.Series([], dtype='str'), 'Nombre':pd.Series([], dtype='str'), 'Créditos' :pd.Series([], dtype='int'), 'Semestre_Malla':pd.Series([], dtype='int'), 'Dictado_Semestre_I' :pd.Series([], dtype='bool'), 'Dictado_Semestre_II' :pd.Series([], dtype='bool')})

In [3]:
df_cursos.loc[len(df_cursos.index)] =  ['IIC1103', 'INTRODUCCIÓN A LA PROGRAMACIÓN', 10, 1, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['MAT0007', 'TALLER DE MATEMÁTICAS PARA ESTADÍSTICA', 15, 1, True, False]
df_cursos.loc[len(df_cursos.index)] =  ['MAT1107', 'INTRODUCCIÓN AL CÁLCULO', 10, 1, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['MAT1207', 'INTRODUCCIÓN AL ÁLGEBRA Y GEOMETRÍA', 10, 1, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['FIL2001', 'FILOSOFÍA ¿PARA QUÉ?', 10, 1, True, True]

In [4]:
df_cursos.loc[len(df_cursos.index)] =  ['IIC2233', 'PROGRAMACIÓN AVANZADA', 10, 2, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2200', 'INTRODUCCIÓN A LA CIENCIA DE DATOS', 10, 2, False, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2210', 'ÁLGEBRA LINEAL PARA CIENCIA DE DATOS', 10, 2, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['MAT1610', 'CÁLCULO I', 10, 2, True, True]

In [5]:
df_cursos.loc[len(df_cursos.index)] =  ['IIC1253', 'MATEMÁTICAS DISCRETAS', 10, 3, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2220', 'CÁLCULO PARA CIENCIA DE DATOS', 10, 3, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2230', 'ÁLGEBRA LINEAL AVANZADA Y MODELAMIENTO', 10, 3, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['ETI195', 'ÉTICA PARA CIENCIA DE DATOS Y ESTADÍSTICA', 10, 3, True, True]

In [6]:
df_cursos.loc[len(df_cursos.index)] =  ['EYP1025', 'MODELOS PROBABILÍSTICOS', 10, 4, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2133', 'ESTRUCTURAS DE DATOS Y ALGORITMOS', 10, 4, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2413', 'BASES DE DATOS', 10, 4, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2250', 'OPTIMIZACIÓN PARA CIENCIA DE DATOS', 10, 4, False, True]

In [7]:
df_cursos.loc[len(df_cursos.index)] =  ['EYP2114', 'INFERENCIA ESTADÍSTICA', 10, 5, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2613', 'INTELIGENCIA ARTIFICIAL', 10, 5, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2440', 'PROCESAMIENTO DATOS MASIVOS', 10, 5, True, False]

In [8]:
df_cursos.loc[len(df_cursos.index)] =  ['EYP210I', 'PROCESOS ESTOCÁSTICOS APLICADOS', 10, 6, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['EYP230I', 'ANÁLISIS DE REGRESIÓN', 10, 6, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2026', 'VISUALIZACIÓN DE INFORMACIÓN', 10, 6, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IIC2433', 'MINERÍA DE DATOS', 10, 6, True, True]

In [9]:
df_cursos.loc[len(df_cursos.index)] =  ['EYP211I', 'SIMULACIÓN ESTOCÁSTICA', 10, 7, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['EYP280I', 'MÉTODOS BAYESIANOS', 10, 7, True, True]
df_cursos.loc[len(df_cursos.index)] =  ['IMT2260', 'TEORÍA DE APRENDIZAJE AUTOMÁTICO', 10, 7, True, False]

In [10]:
df_cursos.loc[len(df_cursos.index)] =  ['IMT2270', 'PROYECTO DE GRADUACIÓN', 10, 8, False, True]

In [11]:
df_cursos

,Sigla,Nombre,Créditos,Semestre_Malla,Dictado_Semestre_I,Dictado_Semestre_II
0,IIC1103,INTRODUCCIÓN A LA PROGRAMACIÓN,10,1,True,True
1,MAT0007,TALLER DE MATEMÁTICAS PARA ESTADÍSTICA,15,1,True,False
2,MAT1107,INTRODUCCIÓN AL CÁLCULO,10,1,True,True
3,MAT1207,INTRODUCCIÓN AL ÁLGEBRA Y GEOMETRÍA,10,1,True,True
4,FIL2001,FILOSOFÍA ¿PARA QUÉ?,10,1,True,True
5,IIC2233,PROGRAMACIÓN AVANZADA,10,2,True,True
6,IMT2200,INTRODUCCIÓN A LA CIENCIA DE DATOS,10,2,False,True
7,IMT2210,ÁLGEBRA LINEAL PARA CIENCIA DE DATOS,10,2,True,True
8,MAT1610,CÁLCULO I,10,2,True,True
9,IIC1253,MATEMÁTICAS DISCRETAS,10,3,True,True
10,IMT2220,CÁLCULO PARA CIENCIA DE DATOS,10,3,True,True
11,IMT2230,ÁLGEBRA LINEAL AVANZADA Y MODELAMIENTO,10,3,True,True
12,ETI195,ÉTICA PARA CIENCIA DE DATOS Y ESTADÍSTICA,10,3,True,True
13,EYP1025,MODELOS PROBABILÍSTICOS,10,4,True,True
14,IIC2133,ESTRUCTURAS DE DATOS Y ALGORITMOS,10,4,True,True
15,IIC2413,BASES DE DATOS,10,4,True,True
16,IMT2250,OPTIMIZACIÓN PARA CIENCIA DE DATOS,10,4,False,True
17,EYP2114,INFERENCIA ESTADÍSTICA,10,5,True,True
18,IIC2613,INTELIGENCIA ARTIFICIAL,10,5,True,True
19,IIC2440,PROCESAMIENTO DATOS MASIVOS,10,5,True,False
20,EYP210I,PROCESOS ESTOCÁSTICOS APLICADOS,10,6,True,True
21,EYP230I,ANÁLISIS DE REGRESIÓN,10,6,True,True
22,IIC2026,VISUALIZACIÓN DE INFORMACIÓN,10,6,True,True
23,IIC2433,MINERÍA DE DATOS,10,6,True,True
24,EYP211I,SIMULACIÓN ESTOCÁSTICA,10,7,True,True
25,EYP280I,MÉTODOS BAYESIANOS,10,7,True,True
26,IMT2260,TEORÍA DE APRENDIZAJE AUTOMÁTICO,10,7,True,False
27,IMT2270,PROYECTO DE GRADUACIÓN,10,8,False,True

In [12]:
df_requisitos = pd.DataFrame({'Sigla_Curso': pd.Series([], dtype='str'), 'Sigla_Requisito':pd.Series([], dtype='str')})

In [13]:
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2233', 'IIC1103']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2200', 'IIC1103']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2200', 'MAT1207']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2210', 'IIC1103']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2210', 'MAT1107']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2210', 'MAT1207']
df_requisitos.loc[len(df_requisitos.index)] =  ['MAT1610', 'MAT1107']

In [14]:
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC1253', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2220', 'MAT1610']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2220', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2230', 'MAT1610']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2230', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['ETI195', 'IMT2200']
df_requisitos.loc[len(df_requisitos.index)] =  ['ETI195', 'IIC2233']
df_requisitos

   Sigla_Curso Sigla_Requisito
0      IIC2233         IIC1103
1      IMT2200         IIC1103
2      IMT2200         MAT1207
3      IMT2210         IIC1103
4      IMT2210         MAT1107
5      IMT2210         MAT1207
6      MAT1610         MAT1107
7      IIC1253         IMT2210
8      IMT2220         MAT1610
9      IMT2220         IMT2210
10     IMT2230         MAT1610
11     IMT2230         IMT2210
12      ETI195         IMT2200
13      ETI195         IIC2233

In [15]:
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC1253', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2220', 'MAT1610']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2220', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2230', 'MAT1610']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2230', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['ETI195', 'IMT2200']
df_requisitos.loc[len(df_requisitos.index)] =  ['ETI195', 'IIC2233']

In [16]:
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP1025', 'IMT2200']
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP1025', 'IMT2230']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2133', 'IIC1253']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2133', 'IMT2233']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2413', 'IIC2233']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2250', 'IMT2210']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2250', 'IMT2220']

In [17]:
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP2114', 'EYP1025']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2613', 'EYP1025']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2613', 'IIC2233']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2440', 'IIC2413']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2440', 'IIC2133']
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP210I', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP230I', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2O26', 'IIC1103']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2433', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['IIC2433', 'IMT2210']

In [18]:
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP211I', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['EYP280I', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2260', 'EYP2114']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2260', 'IMT2250']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2260', 'IMT2440']

In [19]:
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2270', 'ETI194']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2270', 'IMT2250']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2270', 'IMT2260']
df_requisitos.loc[len(df_requisitos.index)] =  ['IMT2270', 'EYP280I']

In [20]:
df_cursos.to_csv('cursos.csv', index = False)
df_requisitos.to_csv('requisitos.csv', index = False)